<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>buttons</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Buttons -->
  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="default" expand="full">Default</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>

  <!-- Navigation -->
  <ion-button expand="full" routerLink="/avatar" color="tertiary">
    Navegar
  </ion-button>

  <!-- Ion grid -->
  <ion-row>
    <ion-col>
      <ion-button expand="full" routerLink="/avatar" color="tertiary">Avatar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/alert" color="tertiary">Alert</ion-button>
    </ion-col>
  </ion-row>

  <!-- Ion fill -->
  <ion-button fill="clear">Clear</ion-button>
  <ion-button fill="outline">Clear</ion-button>
  <ion-button fill="solid">Clear</ion-button>
</ion-content>
