<ion-header>
  <ion-toolbar>
<!--     <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let component of menuSet | async" [routerLink]="component.redirectTo" detail>
      <ion-icon slot="start" [name]="component.icon" color="primary"></ion-icon>
      <ion-label> {{ component.name }} </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
